spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smartlogi_db_v2
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

  liquibase:
    change-log: db/changelog/db.changelog-master.xml

  security:
    user:
      name: admin
      password: 1234

  mail:
    host: smtp.gmail.com
    port: 587
    username: safiakhoulaid11@gmail.com
    password: rzmbeusgvddkdoix
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: my-spring-app

# ===== Configuration Swagger / Springdoc =====
springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    defaultModelsExpandDepth: 1
    displayRequestDuration: true

  data:
    redis:
      host: my-redis
      port: 6379
      password:
      ssl:
        enabled: false

      timeout: 60000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms