spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smartlogi_db_v2
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8082