spring:
  datasource:
    # RDS Endpoint
    url: jdbc:postgresql://${RDS_HOSTNAME}:${RDS_PORT}/smartlogi_db_v2
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

server:
  port: 8080